#left-bar{
  height: 100vh;
  overflow-y: scroll ; 
}

#right-bar{
  height:100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* @media (max-width: 991px) {
  .container {
      max-width: 100%;
  }
} */

.card-header{
  border-radius: 0;
}

.left-link-font{
  color: #2c98f0;
  font-weight: 300;
  letter-spacing: 1px;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #2c98f0;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}


@media (min-width: 768px){
  .navbar-toggler{
    visibility: hidden;
  }

  #close_side{
    visibility: hidden;
  }
}

@media (max-width: 767px){
  #left-bar{
    max-width:40%;
    position: absolute;
    z-index: 100;
    display:none;
  }

  #left{
    max-width: 40%;
    position: fixed;
    z-index: 100;
    display: none;
    top: 0;
  }

  @keyframes showNav {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  
  @-webkit-keyframes showNav {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  
  @-moz-keyframes showNav {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  
  @-o-keyframes showNav {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  
  .showNav {
    -webkit-animation: showNav .5s ease forwards;
    -moz-animation: showNav 1s ease forwards;
    -o-animation: showNav 1s ease forwards;
    animation: showNav .5s ease forwards;
  }
  
  @keyframes hideNav {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @-webkit-keyframes hideNav {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @-moz-keyframes hideNav {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @-o-keyframes hideNav {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  .hideNav {
    -webkit-animation: hideNav 0.5s ease forwards;
    -moz-animation: hideNav 1s ease forwards;
    -o-animation: hideNav 1s ease forwards;
    animation: hideNav .8s ease forwards;
  }
  
  /* .hidden {
    display: none;
  } */
}

.circle{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #adb5bd;
 }

 .award-circle:hover{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #adb5bd;
 }

.navbar-toggler:hover {
  font-size:1rem;
}

.navbar-toggler-icon {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.fixed-top {
  z-index: 50;
}
